<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1009622369106-oi5g632ashv8qloij8tml16cclovhmap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009622369106-oi5g632ashv8qloij8tml16cclovhmap</string>
	<key>API_KEY</key>
	<string>AIzaSyAD7fGqezGnpW1mY_p0E0KIV8zV8DKKSww</string>
	<key>GCM_SENDER_ID</key>
	<string>1009622369106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hubofwallet.gudbiz</string>
	<key>PROJECT_ID</key>
	<string>gud-biz</string>
	<key>STORAGE_BUCKET</key>
	<string>gud-biz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009622369106:ios:0df1842314f21605</string>
	<key>DATABASE_URL</key>
	<string>https://gud-biz.firebaseio.com</string>
</dict>
</plist>
